/* Values */
@value --container-position: var(--cells-05);
@value --container-position: var(--cells-05);
@value --large-width: 80%;
@value --large-max-with: 720px;
@value --small-width: 80%;
@value --small-max-with: 360px;

/* Base */
.ember-cli-notifications-notification__container {
  position: fixed;
  margin: 0 auto;
}

/* Position */
.ember-cli-notifications-notification__container--top {
  top: var(--ecn-container-position);
  right: 0;
  left: 0;
  width: --large-width;
  max-width: --large-max-with;
}

.ember-cli-notifications-notification__container--top-left {
  top: var(--ecn-container-position);
  right: auto;
  left: --container-position;
  width: --small-width;
  max-width: --small-max-with;
}

.ember-cli-notifications-notification__container--top-right {
  top: var(--ecn-container-position);
  right: var(--ecn-container-position);
  left: auto;
  width: --small-width;
  max-width: --small-max-with;
}

.ember-cli-notifications-notification__container--bottom {
  right: 0;
  bottom: var(--ecn-container-position);
  left: 0;
  width: --large-width;
  max-width: --large-max-with;
}

.ember-cli-notifications-notification__container--bottom-left {
  right: auto;
  bottom: --container-position;
  left: --container-position;
  width: --small-width;
  max-width: --small-max-with;
}

.ember-cli-notifications-notification__container--bottom-right {
  right: var(--ecn-container-position);
  bottom: var(--ecn-container-position);
  left: auto;
  width: --small-width;
  max-width: --small-max-with;
}
