/* Values */
@value --container-position: .5rem;
@value --container-position: .5rem;
@value --large-width: 80%;
@value --large-max-with: 720px;
@value --small-width: 25%;
@value --small-max-with: 360px;

/* Base */
.c-notification__container {
  position: fixed;
  margin: 0 auto;
}

/* Position */
.c-notification__container--top {
  composes: c-notification__container;
  top: --container-position;
  right: 0;
  left: 0;
  width: --large-width;
  max-width: --large-max-with;
}

.c-notification__container--top-left {
  composes: c-notification__container;
  top: --container-position;
  right: auto;
  left: --container-position;
  width: --small-width;
  max-width: --small-max-with;
}

.c-notification__container--top-right {
  composes: c-notification__container;
  top: --container-position;
  right: --container-position;
  left: auto;
  width: --small-width;
  max-width: --small-max-with;
}

.c-notification__container--bottom {
  composes: c-notification__container;
  right: 0;
  bottom: --container-position;
  left: 0;
  width: --large-width;
  max-width: --large-max-with;
}

.c-notification__container--bottom-left {
  composes: c-notification__container;
  right: auto;
  bottom: --container-position;
  left: --container-position;
  width: --small-width;
  max-width: --small-max-with;
}

.c-notification__container--bottom-right {
  composes: c-notification__container;
  right: --container-position;
  bottom: --container-position;
  left: auto;
  width: --small-width;
  max-width: --small-max-with;
}
