/* Values */
@value --icon-color: color(#fff a(.8));
@value --icon-lighten-background: color(#fff a(.16));
@value --countdown-lighten-background: color(#fff a(.32));
@value --notification-max-height: 800px;

/* Base */
.c-notification {
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-medium);
  border-bottom: var(--cells-1);
  color: var(--primary-light-text);
  max-height: --notification-max-height;
  animation: notification-hide 250ms cubic-bezier(.33859, -.42, 1, -.22), notification-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
  animation-fill-mode: forwards;
  margin-bottom: var(--cells-1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.c-notification--clickable {
  cursor: pointer;
}

.c-notification--in {
  animation: notification-show 180ms cubic-bezier(.175, .885, .32, 1.27499);
}

.c-notification__content {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  line-height: 1;
  justify-content: space-between;
  padding: var(--cells-1);
  word-break: break-word;

  & a {
    color: #fff;
    text-decoration: underline;
  }
}

.c-notification__icon {
  display: flex;
  align-items: center;
  padding: var(--cells-1);
  flex: none;
  background-color: --icon-lighten-background;
  color: --icon-color;
}

.c-notification__close {
  margin-left: var(--cells-1);
  align-self: flex-start;
  opacity: .74;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.c-notification__countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: --countdown-lighten-background;
  width: 0;
  height: 4px;
  animation: notification-countdown linear 1;
}

/* Theme */
.c-notification--info {
  composes: c-notification;
  background-color: var(--primary-color);
}

.c-notification--success {
  composes: c-notification;
  background-color: var(--secondary-color);
}

.c-notification--warning {
  composes: c-notification;
  background-color: var(--accent-color);
}

.c-notification--error {
  composes: c-notification;
  background-color: var(--split-color);
}

/* Keyframes */
@keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}

@keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: --notification-max-height;
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(.8);
  }
}

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
